<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/obraPage.css">
    <script src="/js/obraPage.js"></script>
    <title>
        <%= obraContent.name %>
    </title>
</head>

<body>
    <header>
        <div class="logoDiv">
            <a class="logoa" href="/"><img src="/assets/logoblanco.png" href="/a" alt=""></a>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/reserve">Reserva</a>
            <a href="/register">Registro</a>
            <a href="#">Contact</a>
        </div>
        <span class="menu-icon" onclick="openNav()"><img src="/assets/iconomenu.png" alt=""></span>
    </header>

    <main>
        <div class="bodyDiv">
            <div>
                <img class="imgImg" src=<%=obraContent.imgRoute %> alt="">
            </div>
            <div class="infoObraDiv">
                <div class="infoHeader">
                    <h1 id="obraName" class="obraName">
                        <%= obraContent.name %>
                    </h1>
                    <h2 class="obraDuration">Duración: <%= obraContent.duration %>
                    </h2>
                </div>
                <div class="obraDescription">
                    <%= obraContent.description %>
                </div>
                <div class="buttonDiv">
                    <a href="/reserve"><button class="reserveButton">Reserva</button></a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="left_column">
            <img src="/assets/logoblanco.png" alt="" class="logo_footer">
        </div>
        <div class="center_column">
            <h2>Contactanos</h2>
            <div class="contact">
                <div>
                    <img src="/assets/Phone-handset.png" alt="" class="icon">
                    <p class="txt">+34 976 459 12 92</p>
                </div>
                <div>
                    <img src="/assets/correo-electronico.png" alt="" class="icon">
                    <p class="email_txt">teatralis@gmail.com</p>
                </div>
                <div>
                    <img src="/assets/pasador-de-ubicacion.png" alt="" class="icon">
                    <p class="txt">C/</p>
                </div>
            </div>
        </div>
        <div class="right_column">
            <div class="socials">
                <img src="/assets/logotipo-de-instagram.png" alt="">
                <img src="/assets/gorjeo.png" alt="">
                <img src="/assets/facebook.png" alt="">
            </div>
        </div>
    </footer>
</body>

</html>